
@{
    ViewBag.Title = "ErroneousFileFormat";
}

<h2>Erroneous File Format</h2>
<p>
    Please upload a file with the extension of .log or .txt
</p>
@Html.ActionLink("Go back to file upload", "Index")
